* {
  box-sizing: border-box;
}
.icon {
  text-align: center;
  p {
    color: white;
    margin-top: 5px;
  }
  button {
    width: 50px;
    cursor: pointer;
    height: 30px;
    border: none;
    outline: none;
    background-color: white;
    &.favorite {
      mask-image: url("../../assets/icon/heart.svg");
      -webkit-mask-image: url("../../assets/icon/heart.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: 50px 30px;
    }
    &.sign-in-form {
      mask-image: url("../../assets/icon/black-male-user-symbol.svg");
      -webkit-mask-image: url("../../assets/icon/black-male-user-symbol.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: 50px 30px;
    }
    &.shopping-cart {
      mask-image: url("../../assets/icon/shopping-cart-of-checkered-design.svg");
      -webkit-mask-image: url("../../assets/icon/shopping-cart-of-checkered-design.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: 50px 30px;
    }
    &.yellow {
      background-color: yellow;
    }
    &.facebook {
      mask-image: url("../../assets/icon/facebook.svg");
      -webkit-mask-image: url("../../assets/icon/facebook.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
    }
    &.instagram {
      mask-image: url("../../assets/icon/instagram.svg");
      -webkit-mask-image: url("../../assets/icon/instagram.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
    }
    &.youtube {
      mask-image: url("../../assets/icon/youtube.svg");
      -webkit-mask-image: url("../../assets/icon/youtube.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
    }
    & burger {
      mask-image: url("../../assets/icon/menu-symbol-of-three-parallel-lines.svg");
      -webkit-mask-image: url("../../assets/icon/menu-symbol-of-three-parallel-lines.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
    }
  }
}