.core {
  position: relative;
  min-height: 100vh;
  .core-body {
    margin: auto;
    height: 100%;
    max-width: 1500px;
    position: relative;
    padding-bottom: 150px;
    padding-top: 20px;
  }
}


