.modal {
  margin: auto;
  .close {
    cursor: pointer;
    float: right;
  }
  //.login button {
  //  margin-top: 20px;
  //  background-color: darkorange;
  //  color: white;
  //  font-size: 16px;
  //  padding: 10px;
  //  border-radius: 4px;
  //  cursor: pointer;
  //}
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    button {
      margin-top: 20px;
      background-color: darkorange;
      color: white;
      font-size: 16px;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

