.header {
  display: flex;
  background-color: darkorange;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  a {
    color: white;
    text-decoration-line: none;
    cursor: pointer;
  }
  input.search {
    flex: 1 1 auto;
    width: 400px;
    height: 40px;
    border-radius: 15px;
  }
  button {
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  img.logo {
    width: auto;
    height: 50px;
  }
  .counter {
    background-color: grey;
    color: white;
    position: absolute;
    top: 3px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .header a:not(:first-child) {display: none;}
  .header a {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header.responsive {position: relative;}
  .header.responsive button {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header input {
    display: none;
  }
}
