.categories {
  min-height: 100%;
  margin: auto;
  .categories-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .category-products {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}