* {
  box-sizing: border-box;
}
.sign-up {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.inner-form {
  padding: 20px;
  background-color: #fff;
}
.inner-form h3 {
  margin: 0;
  text-align: center;
}
